<div>
  <h1><%= @video.title %></h1>
  <div>
    <%= video_tag(@video.video_url.to_s, :controls => true) %>
  </div>
  <p><%= @video.description %></p>
    <%= link_to "Delete", video_path(@video), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
